/* @group Global Styles */

html {
	background: #555;
}

body {
	-webkit-user-select: none;
	background: #ededed;
	cursor: default;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	font: 13px "Lucida Grande";
}

body.keywords {width: 700px; height: 400px; margin-left: -350px; margin-top: -200px;}
body.settings, body.import, body.export {width: 500px; height: 340px; margin-left: -250px; margin-top: -170px;}
body.add {width: 500px; height: 200px; margin-left: -250px; margin-top: -100px;}

header {
	display: block;
	background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#A6A6A6));
	height: 36px;
}

header h1 {
	display: block;
	margin: 0; padding: 10px 10px 10px 15px;
	border-bottom: 1px solid #646464;
	font-size: 16px;
	line-height: 15px;
	color: #000;
	text-shadow: 0 1px 0 #e0e0e0;
}

section {
	display: block;
	position: absolute;
	margin: 0; padding: 0;
	top: 46px; right: 10px; bottom: 10px; left: 10px;
	overflow: auto;
	border-top: 1px solid #8e8e8e;
	border-right: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	background-color: #ffffff;
}

section.keywords { left: 220px; }

section h1 {
	margin: 0 0 10px;
	padding: 10px 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #aaa;
	text-shadow: 0 1px 0 #fff;
	font-size: 16px;
	color: #666;
	background-color: #f8f8f8;
}

section fieldset {
	margin: 15px 15px 0 15px; 
	padding: 0;
	border: 0;
}

section fieldset p.keywords {margin: 16px 0 16px 100px;}
section fieldset p.settings {margin: 13px 0 13px 220px;}
section fieldset p.add {margin: 10px 0px 10px 180px;}

section fieldset label {
	float: left;
	padding: 0;
	text-align: right;
	font-size: 13px;
}

section fieldset label.keywords {margin: 3px 0 0 -80px; width: 60px;}
section fieldset label.settings {margin: 3px 0 0 -190px; width: 170px;}
section fieldset label.import {float: none; text-align: left;}
section fieldset label.add {margin: 3px 0 0 -180px; width: 150px;}

section fieldset span.description {
	display: block;
	font-size: 11px;
	line-height: 11px;
	padding: 2px 0 0 0;
	color: #888;
}

section fieldset input[type="text"] {
	font-size: 13px;
	resize: none;
	width: 300px;
}

section fieldset input[type="radio"] {
	display: block;
	margin-bottom: 5px;
}

section fieldset .choice {
	display: block;
	font-size: 13px;
	margin: -1.4em 0px 0px 25px;
}

section fieldset select {
	font-size: 16px;
}

section fieldset button {
	-webkit-appearance: push-button;
	float: right;
	font-size: 16px;
}

/* @end */

/* @group Keywords */

aside {
	display: block;
	position: absolute;
	top: 46px; right: auto; bottom: 32px; left: 10px;
	width: 199px;
	background: white;
	overflow-x : hidden;
	overflow-y : auto;
	border: 1px solid #bebebe;
	border-top: 1px solid #8e8e8e;
}

aside ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	 -webkit-background-size: auto 50px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), color-stop(0.5, rgb(255, 255, 255)), color-stop(0.5, rgb(247, 247, 247)), to(rgb(247, 247, 247)));
}

aside li {
	margin: 0;
	padding: 0;
	position: relative;
}

aside a.selector {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
}

aside a.selector.disabled {
	color: #888;
}

aside a.selector.current {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b92d5), to(#1654ab));
}

aside a.delete {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	bottom: auto;
	left: auto;
	margin: -7px 0 0 0;
	width: 14px;
	height: 14px;
	background: url(safari-resource:/ExtensionClose.png) no-repeat;
	text-indent: -1000px;
}

aside li:hover a.delete {
    display: block;
}

aside a.delete:hover {
	background-image: url(safari-resource:/ExtensionCloseHovered.png);
}

aside .delete[href="#deletedefault"] {
	display: none;
}

aside #new {
	display: none;
}

aside #new.current {
	display: block;
}

aside #item-default {
	background-color: #ddd;
}

#buttonContainer {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 23px;
	width: 200px;
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

#plusButton {
	display: block;
	text-indent: -1000px;
	width: 26px;
	height: 23px;
	float: left;
	border: none;
	padding: 0;
}

#plusButton:active {
	background-position-y: -23px;
}

#actionButton {
	-webkit-appearance: none;
	border: none;
	border-radius: 0px;
	margin: 0 0 0 -1px;
	padding: 0px;
	text-indent: -1000px;
	height: 23px;
	width: 32px;
	font-size: 14px;
}

#actionButton:active {
	background-position-y: -23px;
}

#keywordDescription {
	float: right;
	padding: 7px 10px 0 0;
	color: #d00;
}

#save {
	margin-right: 30px;
}

#enabledBack {
	width: 94px;
	height: 27px;
	position: absolute;
	top: 6px;
	right: 6px;
}

#enabled {
	-webkit-appearance: none;
	z-index: 2;
	position: absolute;
	width: 94px;
	height: 27px;
	margin: 0;
}

/* @end */

/* @group Settings */

#keyboardShortcut {
	border-radius: 4px;
	font-size: 13px;
	border: 2px solid #ccc;
	text-align: center;
	width: 80px;
	background-color: #ebebeb;
	vertical-align: middle;
}

#keyboardShortcut:focus {
	outline-width:0;
	border: 2px solid #68AFE4;
}

.ksCheckBox {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-position-y: 0px;	/* 'Off' y pos */
}

.ksCheckBox:checked {
	background-position-y: -21px;  /* 'On' y pos */ 
}

#useControl {
	background-position-x: px;  /* Control x pos */ 
}

#useOption {
	background-position-x: -21px;  /* Option x pos */ 
}

#useCommand {
	background-position-x: -42px;  /* Command x pos */ 
}

#useShift {
	background-position-x: -63px;  /* shift x pos */ 
}

#dontUse {
	display: none;
}


/* @end */

/* @group Import */

#instructions {
	padding: 5px 25px;
	border-radius: 5px;
	background-color: #eee;
}

textarea.import {
	width: 442px;
	height: 80px;
	resize: none;
}

#progress {
	margin-left: 2px;
	line-height: 12px;
	font-size: 12px;
	color: #666;
}

#spinner {
	vertical-align:middle;
}

/* @end */

/* @group Export */

textarea.export {
	width: 442px;
	height: 180px;
	resize: none;
}

/* @end */

/* @group Add */

#keyword {
	width: 200px;
}

#buttonSelect {
	width:  206px;	
}

#addSubmit {
	float: none;
}
/* @end */