/* @group Global Styles */

html {
	display: none;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-user-select: none;
	border: 1px solid #999;
	border-radius: 5px;
	font: 13px "Lucida Grande";
	margin: 1px;
	overflow: hidden;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.search body { width: 550px; height: 60px;}
.keywords body {width: 670px; height: 300px;}
.settings body {width: 400px; height: 300px;}
.import body, .export body {width: 480px; height: 320px;}
.add body {width: 500px; height: 200px;}

header {
	position: relative;
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#b4b8c1 100%);
	border-bottom: 1px solid #919298;
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	height: 36px;
}

header h1 {
	color: #858c8f;
	font-size: 18px;
	line-height: 15px;
	margin: 0;
	padding: 10px 0;
	text-shadow: 0 1px 0 #efefef;
	text-align: center;
}

header button {
	position: absolute;
	top: 6px;
	left: 8px;
	margin: 0;
	padding: 0 7px;
	height: 25px;
	background: -webkit-linear-gradient(top, #b8b8b8 0%,#979797 50%,#8a8a8a 51%,#898989 100%);
	border-top: 1px solid #838383;
	border-right: 1px solid #767676;
	border-left: 1px solid #767676;
	border-bottom: 1px solid #8b8b8b;
	color: #F1F1F1;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

section {
	-webkit-box-flex: 1;
	margin: 15px 15px 0 15px; 
}

.keywords section { margin: 0;}

.keywords p {margin: 16px 36px 16px 100px;}
.settings p {margin: 16px 0 16px 160px;}
.add p {margin: 10px 0px 10px 180px;}

section label {
	float: left;
	padding: 0;
	text-align: right;
	font-size: 13px;
}

.keywords section label {margin: 0 0 0 -80px; width: 60px; line-height: 24px;}
.settings section label {margin: 0 0 0 -190px; width: 170px;}
.import section label {float: none; text-align: left;}
.add section label {margin: 0 0 0 -180px; width: 150px; line-height: 24px;}

section span.description {
	display: block;
	font-size: 11px;
	line-height: 11px;
	padding: 2px 0 0 0;
	color: #888;
}

section input[type="text"] {
	font-size: 13px;
	resize: none;
	width: 296px;
}

section input[type="radio"] {
	display: block;
	margin-bottom: 5px;
}

section label.choice {
	text-align: left;
	float: none;
	display: block;
	font-size: 13px;
	margin: -20px 0px 5px 35px;
}

section select {
	font-size: 16px;
}

section button {
	-webkit-appearance: push-button;
	float: right;
	font-size: 16px;
}

/* @end */

/* @group Search */

.search form {
	margin: 9px 50px 9px 9px;
	position: relative;
}

#keysearchField {
	background: none;
	border: 0;
	font-size: 32px;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	color: #808080;
}

#searchSettings {
	-webkit-appearance: none;
	background: url('../images/settings.png');
	background-size: 20px;
	border: none;
	padding: 0px;
	text-indent: -1000px;
	height: 20px;
	width: 20px;
	font-size: 14px;
	position: absolute;
	top: -4px;
	right: -45px;
}

#searchSettings:hover {
	background: url('../images/settingsHover.png');
}

#helpButton {
	color: #929292;
	width: 20px;
	height: 20px;
	text-align: center;
	font: bold 20px Helvetica, Arial;
	position: absolute;
	bottom: -8px;
	right: -45px;
}

#helpButton:hover {
	color: #000;
}

/* @end */

/* @group Shortcut Display */

#shortcut {
    -webkit-user-select: none;
    position: absolute;
    width: 300px;
    height: 50px;
    background: transparent;
    color: transparent;
    border: transparent;
    cursor: pointer;
    z-index: 999;
}


#shortcutDisplay {
    display: inline-block;
    border: 1px solid;
    border-top-color: #808080;
    border-right-color: #888888;
    border-bottom-color: #888888;
    border-left-color: #878787;
    box-shadow: inset 0 1px 0px rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(top, #cdcdcd 0%,#b9b9b9 100%);
    border-radius: 4px;
    height: 50px;
    width: 300px;
    position: relative;
}

#shortcutDisplay span.key {
	display: none;
    border: 1px solid;
    border-top-color: #858585;
    border-right-color: #6b6b6b;
    border-bottom-color: #939393;
    border-left-color: #6b6b6b;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e6e6 100%);
    border-radius: 4px;
    font-size: 10px;
    color: #555555;
    text-shadow: #ffffff 0 1px 1px;
    padding: 25px 14px 3px 5px;
    margin: 3px;
    float: left;
}

#shortcutDisplay .kscText {
	display: none;
    font-size: 14px;
    color: #444444;
    text-shadow: #ffffff 0 1px 1px;
    position: absolute;
    top: 17px;
    width: 100%;
    text-align: center;
}

#shortcutDisplay #final {
    font-size: 18px;
    padding: 10px 0 9px;
    width: 40px;
    text-align: center;
}

#shortcutDisplay .delete {
	display: none;
	position: absolute;
	top: 50%;
	right: 10px;
	bottom: auto;
	left: auto;
	margin: -7px 0 0 0;
	width: 14px;
	height: 14px;
	background: url('../images/close.png') no-repeat;
	text-indent: -1000px;
	z-index:1000;
}

#shortcutDisplay .delete:hover {
	background-image: url('../images/closeHover.png');
}

/* @end */

/* @group Keywords */

.keywords section {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.keywords form {
	-webkit-box-flex: 1;
	margin: 15px;
}

.keywords #keyword {
	width: 200px;
}

aside {
	width: 200px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	border-right: 1px solid #bebebe;
}

aside nav {
	-webkit-box-flex: 1;
	 overflow-x : hidden;
	overflow-y : auto;
	background: #fff;
}

aside ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	/* replace with linear gradient */
	-webkit-background-size: auto 50px;
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#f7f7f7 50%,#f7f7f7 100%);
}

aside li {
	margin: 0;
	padding: 0;
	position: relative;
}

aside a.listLink {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

aside a.listLink.disabled {
	color: #888;
}

aside a.listLink.current {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #333;
	background: -webkit-linear-gradient(top, #5b92d5 0%,#1654ab 100%);
}

aside a.delete {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	bottom: auto;
	left: auto;
	margin: -7px 0 0 0;
	width: 14px;
	height: 14px;
	background: url('../images/close.png') no-repeat;
	text-indent: -1000px;
}

aside li:hover a.delete, .current + a.delete {
    display: block;
}

aside a.delete:hover {
	background-image: url('../images/closeHover.png');
}

aside .delete[href="#default"] {
	display: none !important;
}

aside #new {
	display: none;
}

aside #new.current {
	display: block;
}

#buttonContainer {
	background-image: url('../images/buttonBack.png');
	height: 23px;
	width: 200px;
	border-radius: 0 0 0 5px;
}

#plusButton {
	background: url('../images/plus.png');
	display: block;
	text-indent: -1000px;
	width: 26px;
	height: 23px;
	float: left;
	border: none;
	padding: 0;
	border-radius: 0 0 0 5px;
}

#plusButton:active {
	background-position-y: -23px;
}

#actionButton {
	-webkit-appearance: none;
	background: url('../images/action.png');
	border: none;
	border-radius: 0px;
	margin: 0 0 0 -1px;
	padding: 0px;
	text-indent: -1000px;
	height: 23px;
	width: 32px;
	font-size: 14px;
}

#actionButton:active {
	background-position-y: -23px;
}

#error {
	float: right;
	padding: 7px 10px 0 0;
	color: #d00;
}

#save {
}

.iPhoneCheckContainer {
	position: relative;
	height: 27px;
	width: 80px;
	cursor: pointer;
	overflow: hidden;
	float: right;
}
.iPhoneCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
    opacity: 0;
}
.iPhoneCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px !important;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
	margin: 0 !important;
	text-align: left;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select: none;
    -khtml-user-select: none;
}
.iPhoneCheckDisabled {
	opacity: 0.5;
}
label.iPhoneCheckLabelOn {
	color: white;
	background: url('../images/iphone-style-checkboxes/on.png?1284697268') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
label.iPhoneCheckLabelOn span {
    padding-left: 8px;
}
label.iPhoneCheckLabelOff {
	color: #8b8b8b;
	background: url('../images/iphone-style-checkboxes/off.png?1284697268') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iPhoneCheckLabelOff span {
    padding-right: 8px;
}
.iPhoneCheckHandle {
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	background: url('../images/iphone-style-checkboxes/slider_left.png?1284697268') no-repeat;
	padding-left: 3px;
}
.iPhoneCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('../images/iphone-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
}
.iPhoneCheckHandleCenter {
	height: 100%;
	width: 100%;
	background: url('../images/iphone-style-checkboxes/slider_center.png?1284697268');
}

/* @end */


/* @group Settings */

#centerAlign {
	text-align: center;
}

#shortcutContainer {
	display: inline-block;
	position: relative;
}

#centerAlign label {
	margin: 0;
	width: auto;
	float: none;
}


/* @end */

/* @group Import */

#instructions {
	padding: 5px 25px;
}

textarea.import {
	width: 442px;
	height: 80px;
	resize: none;
}

#progress {
	margin-left: 2px;
	line-height: 12px;
	font-size: 12px;
	color: #666;
}

#spinner {
	vertical-align:middle;
}

/* @end */

/* @group Export */

textarea.export {
	width: 442px;
	height: 180px;
	resize: none;
}

/* @end */

/* @group Add */

.add #keyword {
	width: 200px;
}

#buttonSelect {
	width:  206px;	
}

.add #save {
	float: none;
}
/* @end */
