<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Swain</string>
	<key>Builder Version</key>
	<string>12602.3.3</string>
	<key>CFBundleDisplayName</key>
	<string>KeySearch</string>
	<key>CFBundleIdentifier</key>
	<string>com.matt-swain.keysearch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleVersion</key>
	<string>3.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>keySearchContext</string>
				<key>Identifier</key>
				<string>keySearchContext</string>
				<key>Title</key>
				<string>Create a keyword for this search</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>keySearchButton</string>
				<key>Identifier</key>
				<string>keySearchButton</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>KeySearch</string>
				<key>Palette Label</key>
				<string>KeySearch</string>
				<key>Tool Tip</key>
				<string>KeySearch</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>Use keywords to quickly search any site from the address bar</string>
	<key>DeveloperIdentifier</key>
	<string>6M853ET88Q</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>None</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://matt-swain.com/keysearch/keysearch.plist</string>
	<key>Website</key>
	<string>http://matt-swain.com/keysearch</string>
</dict>
</plist>
