<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>openSettings</string>
		<key>Title</key>
		<string>Click here to open the KeySearch settings page and edit your rules. You can also access the settings page by clicking on the KeySearch toolbar button.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
